* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
}

body {
    background-color: #1C1C1C;
    justify-content: center;
    display: flex;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbc00;
    min-width: 100vw;
    height: 100px;
    font-weight: bolder;
    font-size: 20px;
}

.container {
    width: 1120px;
    height: 100%;
    display: flex;
    align-items: center;
}

.content {
    width: 1120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.bans {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bangroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.picks-row-2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pickgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.picklabel {
    color: #ECECEC;
    padding-bottom: 20px;
}

.inventory-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.added-pick {
    width: 75px;
    height: 75px;
    position: relative;
}

.fadeIn {
    animation: fadeInAnimation 0.3s linear;
  }
  
@keyframes fadeInAnimation {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.flash {
    animation: flashAnimation 1.5s linear;
}

@keyframes flashAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


